@tailwind base;
@tailwind components;
@tailwind utilities;

.w-100{
  width: 29rem;
}

@layer base {
  @media (prefers-color-scheme: dark) {
    :root {
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      line-height: 1.5;
      font-weight: 400;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-text-size-adjust: 100%;

      scroll-behavior: smooth;
      --color-bgc: 50, 50, 50;
      --color-content: 234, 231, 221;
      --color-accent: 234, 179, 8;
      --color-hvr: 15, 23, 42;
    }
  }

  :root[data-theme="light"] {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    scroll-behavior: smooth;
    --color-bgc: 234, 231, 221;
    --color-content: 50, 50, 50;
    --color-accent: 234, 179, 8;
    --color-hvr: 156, 163, 175;
  }
}

@media screen and (max-width: 1024px) {
  .p-6 {
    padding: 1rem;
  }

  .text-2xl {
    font-size: 1.3rem;
  }

  .text-3xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .text-lg {
    font-size: 1.25rem;
  }

  .p-4 {
    padding: 0.7rem;
  }

  .p-6 {
    padding: 0.8rem;
  }

  .gap-x-7 {
    column-gap: 0.6rem;
  }

  .gap-10 {
    gap: 2rem;
  }

  .w-1{
    width: 1rem;
  }

  .px-8{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .w-96{
    width: 20rem;
  }

  .h-96{
    height: 20rem;
  }

  .w-100{
    width: 17rem;
  }

  .gap-28{
    gap: 4rem;
  }

  .text-2xl{
    font-size: 1.5rem;
  }

  .w-42 {
    width: 7rem;
  }

  .w-16 {
    width: 3rem;
  }

  .h-16 {
    height: 3rem;
  }

  .w-1 {
    width: 0.2rem;
  }
}

@media screen and (max-width: 541px) {
  .p-6 {
    padding: 1.5rem;
  }
}